@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-main: 'Red Hat Display', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-black: 900;

  --fs-08: 0.5em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --clr-dark-green: hsla(192, 37%, 48%, 1);
  --clr-dark-purple: hsla(268, 34%, 53%, 1);
  --clr-black: hsla(240, 21%, 20%, 1);
  --clr-white: hsla(0, 0%, 98%, 1);
  --clr-grey: hsla(240, 10%, 57%, 1);
  --clr-clear-blue: hsla(192, 90%, 77%, 1);
  --clr-clear-purple: hsla(268, 100%, 86%, 1);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: var(--ff-main);
  line-height: 1.6;
  font-size: var(--fs-16);
  font-weight: var(--fw-medium);
  text-align: center;
}

img {
  max-width: 100%;
}

/* Typography */
.header-title {
  font-size: var(--fs-40);
  font-weight: var(--fw-black);
  line-height: 1.1;
}

.text {
  color: var(--clr-grey);
}

.download-btn,
.cta-btn {
  font-family: inherit;
  color: var(--clr-white);
  font-weight: var(--fw-black);
  font-size: var(--fs-16);
}

.section-divider {
  color: var(--clr-grey);
  font-weight: var(--fw-black);
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: var(--fw-black);

  color: var(--clr-dark-green);
}

.title {
  font-weight: var(--fw-black);
  line-height: 1.125;
}

.title--footer,
.text--footer {
  color: var(--clr-white);
}

/* Utility styles */

.container {
  /* flex properties */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto; */
}

/* SECTIONS */
